/*--------------------------------------------
1. Body, General, Typography
--------------------------------------------*/
body, .body {
    background-image:none;
    background-color:#fff;
    color:#555;
	font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
	height:100%;
	margin-top:18px;
	padding:0;
    width: 100%;
}

body, table td, select {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;	
}

a{ 
	color: #336699; 
	text-decoration:none; 
}

a:hover{
	color:#FF6D0C; 
	text-decoration:none;
}

#container{
	background-color:#fff;
	height:100%;
	margin:auto;
	width:1050px;
}

#content {
	margin:10px 20px 0 30px;
}

#emis, #emisAdmin{
	padding:18px 0px 18px 0px;
	margin-right:12px;
}

/*--------------------------------------------
2. Header, Main Navigation
--------------------------------------------*/
#emisMenu {
    height:93px;
	padding:0;

    background-image: url("img/headerBar.png"); 
    background-position: 0px 52px; 
    background-repeat: repeat-x; 
}

.dataset {
    height: 29px; 
    float: right; 
    margin-top: 20px;
    margin-bottom: 5px;
}
    
.nav{
	float:right;
	padding:0;
    float: right; 
    clear: right;
}

.logo {
    float: left;
    padding-top: 2px; 
}

.nav ul { 
    margin-top: 0px; 
}

.nav ul li{
	background-image:url(img/nav_up.png);
	border-left:#345D89 1px solid;
	color:#fff;
	float:right;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 13px;
	font-weight:700;
	height:35px;
	letter-spacing:1px;
	line-height:2.6em;
	list-style-type:none;
	padding:0 15px 0 16px;
}

.nav ul li .menuItem{
	color:#fff;
	text-decoration:none;
}

.nav ul li .menuItem:hover{
	color:#ddd;
	text-decoration:none;
}

.nav ul li.active{
	background-image:url(img/nav_dn.png);
}

.nav ul li.active .menuItem:hover{
	color:#fff;
}

/*--------------------------------------------
3. Results 
--------------------------------------------*/
.results{
	float:right;
	margin-bottom:30px;
	padding-left:25px;
	text-align:left;
	width:605px; 
}

.links{
	border:#E6E6E6 1px solid;
	padding:3px 6px 3px 6px;
	text-align:right;
}

.links img{
	vertical-align:bottom;
}

.title{
	clear:both;
	color: #336699; 
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size:16px;
	font-weight:700;
	letter-spacing:1px;
	line-height:1.6em;
	padding-top: 0px;
	text-align:left;
}

.titleLine {
    border-bottom: 2px solid; 
}

.subtitle{
	color:#555; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.6em;
	padding-bottom:20px;
	text-align:left;
}

table.emisResult{
	border-collapse:collapse;
	margin-top:10px;
}

table.emisResult td{
	background-color:#fff;
	border:solid 1px #E0E0E0;
	margin:0px;
	padding:4px;
	text-align:right;
}

table.emisResult th{
    border:#E0E0E0 1px solid;
    font-weight:bold;
	font-size:12px;
	padding:4px;
}

table.emisResult thead th{
	background-color:#EFEFEF;
}

table.emisResult tbody th {
	background-color: #EFEFEF;
	font-weight: normal;
	text-align: left;
}

table.emisResult tbody tr:nth-child(even) td {
	background-color:#F5F5F5;
}

/*--------------------------------------------
4. Tab Panel
--------------------------------------------*/
.gwt-TabBar .gwt-TabBarItem {
    background:#F6F6F6; 
	border:#E6E6E6 1px solid;
	border-bottom:none;
	border-left:none;
	color:#555;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:700;
	margin:0;
	min-width:39px;
	padding:6px 7px 6px 7px;
}

.gwt-TabBar .gwt-TabBarItem:hover {
	color:#FF6D0C;
	cursor:pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected, .gwt-TabBar .gwt-TabBarItem-selected:hover  {
    background:#336699;
	border:#336699 1px solid;
	border-bottom:none;
	color:#fff;
}

.metaResultEdit, .gwt-TabPanelBottom {
    border:#336699 2px solid;
	border-top:#336699 6px solid;
    padding:8px; 
    width: 350px; 
}

.wide .gwt-TabPanelBottom {
    width: 550px; 
}

#.metaResultEdit table, .gwt-TabPanelBottom table {
#	height:100%;
#}

.emisEdit table {
    width: auto; 
}

.metaResultEdit img, .gwt-TabPanelBottom img{
	border:#fff 1px solid;
}
.metaResultEdit img:hover, .gwt-TabPanelBottom img:hover {
	border:#FF6D0C 1px solid;
}

.border{
	border-top:#ddd 1px solid;
	margin:2px 0 0 0;
	padding:8px 0 0 0;
}

.fullborder { 
	border: #ddd 1px solid;
	margin: 2px 0 0 0;
	padding: 8px 0 0 0;
}

/*--------------------------------------------
5. Indicators
--------------------------------------------*/
.button24, .button24-up{
    background:#F6F6F6; 
	border:#E6E6E6 1px solid;
#	border-bottom:none;
#	border-left:none;
	color:#555;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 12px;
	font-weight:700;
	margin:0;
	min-width:60px;
	padding:6px 7px 6px 7px;
	text-align:center;
}

.button24:hover, .button24-up:hover {
	color:#FF6D0C;
	cursor:pointer;
    border: #CCC 1px solid;
}

.button24-dn, .button24-dn:hover{
    background:#336699;
	border:#336699 1px solid;
	border-bottom:none;
	color:#fff;
	cursor:auto;
}

.button24-up-disabled, .button24-up-disabled:hover{
    color:#999;
}


.select-list{
	padding:0;
}

.select-list select{
	border:none;
	width:100%; 
}

.select-list select option{
	color:#336699;
	padding:3px 6px 3px 6px;
}

.select-list select option:hover{
	color:#FF6D0C; 
	cursor:pointer;
}

table.indicators{
	margin-top:15px;
}

table.indicators b {
	color:#555;
	font-weight:bold;
}

table.indicators .gwt-HTML{
	color:#336699;
	cursor:pointer;
}

table.indicators .gwt-HTML:hover{
	color:#FF6D0C; 
}

table.indicators td{
	line-height:1.5em;
	padding-right:6px;
}

/*--------------------------------------------
6. Misc.
--------------------------------------------*/
input[type="text"] {
	border-top:#A5ACB2 1px solid;
	border-left:#A5ACB2 1px solid;
	border-right:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	padding:2px;
	-moz-box-shadow: 1px 1px 1px #ddd inset;
	-webkit-box-shadow: 1px 1px 1px #ddd inset;
	box-shadow: 1px 1px 1px #ddd inset;
}

.right{
	float:right;
}

.pointer b:hover, .value:hover {
	color:#FF6D0C;
}

.pointer {  
    cursor: pointer; 
}

.spacing { 
	padding:3px; 
} 

hr{
	border:none;
	border-top:#ddd 1px solid;
	margin:10px 0 10px 0;
}

small{
	color:#999;
	font-size:10px;
}


.section{
    color:#666; 
	font-weight: bold;
	line-height:1.45em; 
    white-space:nowrap;
 }

.sectionBlue {
	color: #6699bb; 
	font-weight:bold;
    white-space:nowrap;
}

.sectionBar {
    color: #000;    
    background-color: #EEE; 
    font-weight: bold;
    padding: 4px;
    white-space:nowrap;
    border: 1px solid #CCC; 
}

.sectionBarDark {
    color: #666;
    background-color: #CCC; 
    border: 1px solid #999; 
    padding: 3px; 
    font-weight: bold; 
}

.light, b.light, .subsection {
	color:#999;
    font-weight: normal; 
}

b, .value { 
	color: #336699; 
	font-weight:bold;
}

.value {
    cursor: pointer; 
}

.clearer  { 
    clear: both; 
}

/*--------------------------------------------
7. Footer
--------------------------------------------*/
.footer{
	border-top:#003F7E 2px solid;
	clear:both;
	font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 11px;
	font-weight:400;
	margin:10px 20px 0 43px;
	padding:10px 0 10px 0;
}

.smallButton {
    background:#F6F6F6; 
    border: #E6E6E6 1px solid;
    color: #555; 
    text-align: center;
    padding: 1px 2px 1px 2px;  
    cursor: pointer; 
    margin-right: 3px; 
    margin-right: 3px; 
}

.smallButton-up {
}

.smallButton-down {
    border: #000000 1px solid; 
    background: #555;
    color: #F6F6F6; 
}

.smallButton-down-hovering {
    border: rgb(230, 230, 230) 1px solid; 
    background: #999;
}

.textButton {
    color: #994400; 
    text-align: center; 
    padding: 1px 2px 1px 2px;  
    cursor: pointer; 
    margin-right: 2px; 
    margin-right: 2px; 
}

.smallButton-up-hovering {
    background:#cccccc; 
    color: #555; 
}

.smallbutton-up-disabled {
    color: #999; 
}

.grayPopup {
    background-image: url(grayTransparent.png); 
    background-repeat: repeat; 
	z-index: 20; 
}

.whiteBox
{ 
    background-color: #ffffff; 
}

.fullWidth {
    width: 100%; 
}

.fullText { 
    width: 300px; 
}

.halfText {
    width: 150px; 
    margin-right: 4px; 
}

.thirdText {
    width: 100px; 
    margin-right: 4px; 
}

.twoThirdsText {
    width: 200px; 
    margin-right: 4px; 
}

.quaterText {
    width: 75px; 
    margin-right: 3px;
}

.gwt-TreeItem-selected {
    font-weight: bold; 
    color: #336699; 
}

.adminEdit {
    background-color: #f8f8f8; 
    border: 2px solid #CCC; 
    padding-left: 3px; 
}

.height20 {
    height: 20px; 
}

.prioHeader {
    background-color: #EEEEEE;
    border-bottom: 2px solid;
    font-weight: bold;
    padding: 2px;
    vertical-align: top;
}

.prioHeaderSelected {
    background-color: #CCCCCC; 
}

table.emisResult td.selected {
	background-color: #FFC971;
}

table.emisResult tbody tr:nth-child(2n) td.selected {
    background-color: #FFC971;
}

.layoutFrame { 
	background-color: #fff; 
	color: #000; 
	border: 2px dashed #ccc; 
	overflow: hidden; 
}

.layoutFrame.selected {
	border: 2px dashed #f00; 
	z-index: 10; 
}

.layoutFrame > div {
	display: table; 
}

.layoutFrame > div > div {
	display: table-row; 
	height: 0; 
	width: 100%; 
}

.content-text, .content-chart, .content-gis, .content-prio {
	height: auto!important;
}

.layout-outer-page {
	border: 1px solid #000; 
}

.layout-inner-page {
	border: 1px solid #eee; 
}

.content-gis {
	background-image: url(img/content-gis.png);
	background-size: contain;
	background-position: center; 
	background-repeat: none; 
}

.content-chart {
	background-image: url(img/content-chart.png);
	background-size: contain; 
	background-position: center; 
	background-repeat: none; 
}

.content-prio {
	background-image: url(img/content-prio.png);
	background-size: contain; 
	background-position: center; 
	background-repeat: none; 
}

.content-chart.chart-pie { background-image: url(img/content-chart-pie.png); }
.content-chart.chart-bar.dim-2 { background-image: url(img/content-chart-2d.png); }
.content-chart.chart-line.dim-1 { background-image: url(img/content-chart-line.png); }
.content-chart.chart-line.dim-2 { background-image: url(img/content-chart-line-2d.png); }
.content-chart.chart-stacked { background-image: url(img/content-chart-stacked.png); }
.content-chart.chart-scaled { background-image: url(img/content-chart-scaled.png); }
